{% extends 'base.html' %}

{% load static %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
  <div class="row">
    <h2 class="white-text center">Edit Profile</h2>
    <form class="card row col m8 offset-m2 s12" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row center">
        <h3 class="center">{{ user.get_full_name }}</h3>
        <img src="{{ user.profile.image.url }}" alt="profile picture" class= "circle responsive-img center">
        <br>
        <div class="row center">
          <h6 class="text">{{ form.image }}</h6>
        </div>
        <h5 class="center">@{{ user.get_user_name }}</h5>
      </div>
      <div class="row center">
        <h5 class="center">Bio :</h5>
        <div class="col m10 offset-m1">
          <h3>{{ form.bio }}</h3>
        </div>
      </div>
      <div class="row center">
        <button class="btn-large rounded-button waves-effect waves-light blue" type="submit" name="button">Save</button>
      </div>
    </form>
  </div>
{% endblock %}