{% extends 'base.html' %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block body %}
  <div class="row">
    <div id= "profile_pane" class="col s12 l3 offset-l1 center">
      <div class="row">
        <h3 class="white-text col s10 l10 center offset-s1">{{ user.get_full_name }}</h3>
        <div>
          <img src="{{ user.profile.image.url }}" alt="{{ user.get_first_name }} Profile Picture" class="rounded-circle">
        </div>
        <div class="row center">
          <h5 class="white-text center offset-s2 col s8 l10">@{{ user.get_user_name }}</h5>
        </div>
        <div class="row center">
          <a href="{% url 'editProfile' %}" class="btn-large rounded-button waves-effect waves-light blue col l6 offset-l2 s6 offset-s3">Edit Profile</a>
        </div>
        <div class="row center">
          <a href="{% url 'makePost' %}" class="btn-large rounded-button waves-effect waves-light blue col l6 offset-l2 s6 offset-s3">Add Post</a>
        </div>
        <div class="row center">
          <p class="white-text center offset-s2 col s8 l10">{{ user.profile.bio }}</p>
        </div>
      </div>
    </div>
    <!-- Posts Pane -->
    <div class="col l7 s12">
        <h4 class="white-text center">Posts</h4>
        {% if posts %}
          <div class="center row card-feed">
            {% for post in posts%}
            <div class="card-feed  col l3 s10 offset-s1">
              <a href="{% url 'viewPost' post.id %}" class="nav-link">
                <div class="card">
                  <div class="card-image card-feed">
                    <img src="{{ post.image.url }}">
                  </div>
                  <span class="card-title">{{ post.title }}</span>
                  <div class="card-content">
                    <p>{{ post.description }}</p>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        {% else %}
          <h6 class="white-text center">No Posts Yet</h6>
        {% endif %}
    </div>
  </div>
{% endblock %}
