{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Signup</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
</head>
<body>
  <nav class="indigo darken-4" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'showFeed' %}" class="brand-logo">Circles</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'showLogin' %}">Login</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="{% url 'showLogin' %}">Login</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container row">
      <br>
      <div class="card row col m8 offset-m2 s12">
        <br>
        <h1 class="header center black-text">Sign Up</h1>
        <div class="row">
          <div class="row center col s12 m8 offset-m2">
            <input placeholder="Enter Your First Name Here" id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="row center col s12 m8 offset-m2">
            <input placeholder="Enter Your Last Name Here" id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
          <div class="row center col s12 m8 offset-m2">
            <input placeholder="Enter Your Email Here" id="email" type="text" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="row center col s12 m8 offset-m2">
            <input placeholder="Enter Username Here" id="username" type="text" class="validate">
            <label for="username">Username</label>
          </div>
          <div class="row center col s12 m8 offset-m2">
            <input id="password" placeholder="Enter Password Here" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <div class="row center">
          <a href="{% url 'showFeed' %}" id="button" class="btn-large waves-effect waves-light blue">Sign Up</a>
        </div>
      <br><br>
    </div>
    </div>
  </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>

  </body>
</html>
