{% extends 'base.html' %}

{% load static %}

{% block title %}Add Post{% endblock %}

{% block body %}
  <div class="row">
    <h2 class="white-text center">Add Post</h2>
    <form class="card row col m8 offset-m2 s12" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="row center">
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
          {% endfor %}
        {% endif %}
        <h3 class="center">@{{ user.get_user_name }}</h3>
        <div class="row center">
          <h5 class="center">Image :</h5>
          <h6>{{ form.image }}</h6>
        </div>
      </div>
      <div class="row center">
        <h5 class="center">Title :</h5>
        <div class="col m10 offset-m1 s12">
          <h3>{{ form.title }}</h3>
        </div>
      </div>
      <div class="row center">
        <h5 class="center">Description :</h5>
        <div class="col m10 offset-m1 s12">
          <h3>{{ form.description }}</h3>
        </div>
      </div>
      <div class="row center">
        <button class="btn-large rounded-button waves-effect waves-light blue" type="submit" name="button">Post</button>
      </div>
    </form>
  </div>
{% endblock %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.min.js"></script>
  <script type="text/javascript">
    var loc = window.location
    var ws = 'ws://'
    if(loc.protocol == 'https'){
      ws = 'wss://'
    }
    var endPoint = ws + loc.host + loc.pathname
    var socket = new ReconnectingWebSocket(endPoint)
    var f = $("form")

    socket.onmessage = function(e){
      console.log("Comment", e)
    }
    socket.onopen = function(e){
      console.log("Open", e)
      f.submit(function(event){
        var msg = "New Post"
        socket.send(msg)
      })
    }
    socket.onerror = function(e){
      console.log("Error", e)
    }
    socket.onclose = function(e){
      console.log("Close", e)
    }
  </script>
{% endblock %}