{% extends 'base.html' %}

{% load static %}

{% block title %}Feed{% endblock %}

{% block body %}
  <div class="container row">
    <br>
    <div class="card row col m12 s12">
      <h1 class="header center black-text">Feed</h1>
        <div class="row">
          {% if posts %}
            {% for post in posts %}
            <div class="card row col m10 offset-m1 s10 offset-s1">
              <div class="content card-feed">
                <h5>{{ post.user.user_name }}</h5>
                <img src="{{ post.image.url }}" alt="dog" style="width:100%">
                <br>
                <h6>{{ post.description }}</h6>
                <br>
                <div class="row">
                  <a href="{% url 'upvotePost' post.id %}" class="col l1 s6 btn-large waves-effect waves-light blue"><i class="material-icons ">thumb_up</i></a>
                  <a href="{% url 'viewPost' post.id %}" class="col l1 s6 btn-large waves-effect waves-light blue"><i class="material-icons ">comment</i></a>
                </div>
                <div class="row">
                  <div class="col l1">
                    <p>{{ post.upvotes.count }} Likes</p>
                  </div>
                  <div class="col l2">
                    <p>{{ post.comments.count }} Comments</p>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          {% else %}
            <h2 class="center">No Posts Yet</h2>
          {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
