{% extends 'base.html' %}

{% load static %}

{% block title %}Friends{% endblock %}

{% block body %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container row">
      <br>
      <div class="card row col m10 offset-m1 s12">
        <h1 class="header center black-text">Friends</h1>
        <div class="row">
          <div class="row center col s12">
            {% if friends %}
              {% for friend in friends %}
                <div class="row center col s12 m10 offset-m1">
                  <div class="card light-blue lighten-4 row">
                    <div class="image-cropper-small col m2 s4">
                      <img src="{{ friend.profile.image.url }}" alt="{{ friend.get_first_name }} Profile Picture" class="rounded-circle-small">
                    </div>
                    <div class="center col m8">
                      <a href="{% url 'getProfile' username=friend.get_user_name %}" class="nav-link">
                        <h4 class="white-text center">{{ friend.get_user_name }}</h4>
                      </a>
                    </div>
                    <div class="center col m2">
                      <i class="large material-icons"><a href="{% url 'message:showMessage' username=friend.get_user_name %}">message</a></i>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% else %}
              <div class="col center s12">
                <h4>People you follow will appear here<h4>
              </div>
            {% endif %}
            <br>
          </div>
        </div>
        <br><br>
      </div>
    </div>
  </div>
{% endblock %}
